<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329728025842-mqqolt2au14qu0v3uf0rte93o4hb4heu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329728025842-mqqolt2au14qu0v3uf0rte93o4hb4heu</string>
	<key>API_KEY</key>
	<string>AIzaSyA9y4AZC0A2Xl92gpaaKqjaNXOZtSyY4PA</string>
	<key>GCM_SENDER_ID</key>
	<string>329728025842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actnow</string>
	<key>PROJECT_ID</key>
	<string>actnow-4b2f5</string>
	<key>STORAGE_BUCKET</key>
	<string>actnow-4b2f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329728025842:ios:806fa325cdd4ce5025dc6b</string>
</dict>
</plist>